## Settings file was created by plugin Fika.Core v0.9.8910
## Plugin GUID: com.fika.core

[Coop]

## Enable custom notifications when a player dies, extracts, kills a boss, etc.
# Setting type: Boolean
# Default value: true
Show Feed = false

## Automatically extracts after the extraction countdown. As a host, this will only work if there are no clients connected.
# Setting type: Boolean
# Default value: false
Auto Extract = true

## Whether to show the extract message after dying/extracting.
# Setting type: Boolean
# Default value: true
Show Extract Message = false

## Toggle to increase the inventory scroll speed
# Setting type: Boolean
# Default value: false
Faster Inventory Scroll = false

## The speed at which the inventory scrolls at. Default is 63.
# Setting type: Int32
# Default value: 63
# Acceptable value range: From 63 to 500
Faster Inventory Scroll Speed = 63

## The key used to extract from the raid.
# Setting type: KeyboardShortcut
# Default value: F8
Extract Key = F8

[Coop | Custom]

## Toggle Ping System. If enabled you can receive and send pings by pressing the ping key.
# Setting type: Boolean
# Default value: false
Ping System = false

## Button used to send pings.
# Setting type: KeyboardShortcut
# Default value: U
Ping Button = U

## The color of your pings when displayed for other players.
# Setting type: Color
# Default value: FFFFFFFF
Ping Color = 00FFFFFF

## The multiplier of the ping size.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 2
Ping Size = 1

## How long pings should be displayed.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 2 to 10
Ping Time = 3

## Plays the pointing animation automatically when pinging. Can interfere with gameplay.
# Setting type: Boolean
# Default value: false
Play Ping Animation = false

## If pings should be displayed while aiming down an optics scope.
# Setting type: Boolean
# Default value: false
Show Ping During Optics = false

[Coop | Debug]

## Button used to toggle free camera.
# Setting type: KeyboardShortcut
# Default value: F9
Free Camera Button = F9

## If free camera should use AZERTY keys for input.
# Setting type: Boolean
# Default value: false
AZERTY Mode = false

[Coop | Name Plates]

## Toggle Health-Bars & Names.
# Setting type: Boolean
# Default value: false
Show Player Name Plates = true

## Completely hides the health bar.
# Setting type: Boolean
# Default value: false
Hide Health Bar = true

## Shows health in % amount instead of using the bar.
# Setting type: Boolean
# Default value: false
Show HP% instead of bar = false

## Shows the player faction icon next to the HP bar.
# Setting type: Boolean
# Default value: true
Show Player Faction Icon = false

## Hides the name plate when viewing through PiP scopes since it's kinda janky.
# Setting type: Boolean
# Default value: true
Hide Name Plate in Optic = false

## Decreases the opacity of the name plates when not looking at a player.
# Setting type: Boolean
# Default value: true
Decrease Opacity In Peripheral = true

## Size of the name plates
# Setting type: Single
# Default value: 0.22
# Acceptable value range: From 0.05 to 1
Name Plate Scale = 0.15

## The opacity of the name plates when aiming down sights.
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.1 to 1
Opacity in ADS = 0.75

## The maximum distance at which name plates will become invisible, starts to fade at half the input value.
# Setting type: Single
# Default value: 500
# Acceptable value range: From 10 to 1000
Max Distance to Show = 700

## The minimum opacity of the name plates.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
Minimum Opacity = 0.1

## The minimum scale of the name plates.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Minimum Name Plate Scale = 0.01

[Gameplay]

## X multiplier to damage taken on the head collider. 0.2 = 20%
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.2 to 1
Head Damage Multiplier = 1

## X multiplier to damage taken on the armpits collider. 0.2 = 20%
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.2 to 1
Armpit Damage Multiplier = 1

## X multiplier to damage taken on the stomach collider. 0.2 = 20%
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.2 to 1
Stomach Damage Multiplier = 1

## Disables metabolism on bots, preventing them from dying from loss of energy/hydration during long raids.
# Setting type: Boolean
# Default value: false
Disable Bot Metabolism = false

[Hidden]

## Has accepted TOS
# Setting type: Boolean
# Default value: false
Accepted TOS = true

[Network]

## Use NativeSockets for gameplay traffic. This uses direct socket calls for send/receive to drastically increase speed and reduce GC pressure. Only for Windows/Linux and might not always work.
# Setting type: Boolean
# Default value: false
Native Sockets = true

## Forces the server when hosting to use this IP when broadcasting to the backend instead of automatically trying to fetch it. Leave empty to disable.
# Setting type: String
# Default value: 
Force IP = 

## Forces the server when hosting to use this local IP when starting the server. Useful if you are hosting on a VPN.
# Setting type: String
# Default value: 
# Acceptable values: Disabled, 0.0.0.0, 10.0.0.20
Force Bind IP = Disabled

## Every X seconds the client will ask the server for the list of matches while at the lobby screen.
# Setting type: Single
# Default value: 10
# Acceptable value range: From 3 to 60
Auto Server Refresh Rate = 30

## Port to use for UDP gameplay packets.
# Setting type: Int32
# Default value: 25565
UDP Port = 25565

## Attempt to open ports using UPnP. Useful if you cannot open ports yourself but the router supports UPnP.
# Setting type: Boolean
# Default value: false
Use UPnP = false

## How long it takes for a connection to be considered dropped if no packets are received.
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 5 to 60
Connection Timeout = 30

[Performance]

## Use the dynamic AI system, disabling AI when they are outside of any player's range.
# Setting type: Boolean
# Default value: false
Dynamic AI = false

## The range at which AI will be disabled dynamically.
# Setting type: Single
# Default value: 100
# Acceptable value range: From 150 to 1000
Dynamic AI Range = 150

## How often DynamicAI should scan for the range from all players.
# Setting type: DynamicAIRates
# Default value: Medium
# Acceptable values: Low, Medium, High
Dynamic AI Rate = Medium

## Whether to use the culling system or not. When players are outside of the culling range, their animations will be simplified. This can dramatically improve performance in certain scenarios.
# Setting type: Boolean
# Default value: true
Culling System = true

## The range at which players should be culled.
# Setting type: Single
# Default value: 30
# Acceptable value range: From 30 to 150
Culling Range = 150

[Performance | Max Bots]

## Enforces spawn limits when spawning bots, making sure to not go over the vanilla limits. This mainly takes affect when using spawn mods or anything that modifies the bot limits. Will not block spawns of special bots like bosses.
# Setting type: Boolean
# Default value: false
Enforced Spawn Limits = false

## When enforcing spawn limits, should the furthest bot be de-spawned instead of blocking the spawn. This will make for a much more active raid on a lower Max Bots count. Helpful for weaker PCs. Will only despawn pmcs and scavs. If you don't run a dynamic spawn mod, this will however quickly exhaust the spawns on the map, making the raid very dead instead.
# Setting type: Boolean
# Default value: false
Despawn Furthest = false

## Don't despawn bots within this distance.
# Setting type: Single
# Default value: 200
# Acceptable value range: From 50 to 3000
Despawn Minimum Distance = 200

## Max amount of bots that can be active at the same time on Factory. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Factory = 0

## Max amount of bots that can be active at the same time on Customs. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Customs = 0

## Max amount of bots that can be active at the same time on Interchange. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Interchange = 0

## Max amount of bots that can be active at the same time on Reserve. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Reserve = 0

## Max amount of bots that can be active at the same time on Woods. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Woods = 0

## Max amount of bots that can be active at the same time on Shoreline. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Shoreline = 0

## Max amount of bots that can be active at the same time on Streets of Tarkov. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Streets = 0

## Max amount of bots that can be active at the same time on Ground Zero. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Ground Zero = 0

## Max amount of bots that can be active at the same time on Labs. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Labs = 0

## Max amount of bots that can be active at the same time on Lighthouse. Useful if you have a weaker PC. Set to 0 to use vanilla limits. Cannot be changed during a raid.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 50
Max Bots Lighthouse = 0

