## Settings file was created by plugin Solarint.LouderSuppressors v1.0.1
## Plugin GUID: solarint.loudSuppressors

[General]

## Turns this mod on or Off. Requires restart if in raid.
# Setting type: Boolean
# Default value: true
Enable Louder Suppressors = true

# Setting type: Single
# Default value: 225
# Acceptable value range: From 100 to 400
Suppressor Max Rolloff Distance = 225

# Setting type: Single
# Default value: 10
# Acceptable value range: From 5 to 400
Blend Val 1 = 10

# Setting type: Single
# Default value: 40
# Acceptable value range: From 20 to 400
Blend Val 2 = 40

# Setting type: Single
# Default value: 80
# Acceptable value range: From 50 to 400
Blend Val 3 = 80

# Setting type: Single
# Default value: 200
# Acceptable value range: From 100 to 400
Blend Val 4 = 200

# Setting type: Single
# Default value: 1.25
# Acceptable value range: From 0.75 to 1.5
TailDistModifier = 1.25

